<style>
  #formdesu {
    background-color: white;
  	border: 1px solid #ddd;
  	color: black;
  	padding: 8px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1em;
  	margin: 4px 2px;
  	cursor: pointer;
  }
</style>

<%= form_for(bookmark) do |f| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div id="formdesu", class="actions">
    <%= f.submit %>
  </div>


<% end %>
