<h1>References</h1>

<table>
  <thead>
    <tr>
      <th class = "spaceUnder">Title</th>
      <th class = "spaceUnder">Link</th>
      <th class = "spaceUnder">Note</th>
      <th class = "spaceUnder", colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class = "spaceUnder"><%= bookmark.title %></td>
        <td class = "spaceUnder"><%= bookmark.link %></td>
        <td class = "spaceUnder"><%= bookmark.note %></td>
        <td class = "spaceUnder"><%= link_to 'Show', bookmark %></td>
        <td class = "spaceUnder"><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td class = "spaceUnder"><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class = 'button'>
  <%= link_to 'New Reference', new_bookmark_path %>
</div>

<br/>Logged in as <strong><%= current_user.email %></strong>.
