<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @bookmark.link %>
</p>

<p>
  <strong>Note:</strong>
  <%= @bookmark.note %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
