<h1>Show Reference</h1>

<div class = "refInfoA">
  <strong>Title:</strong>
  <%= @bookmark.title %>
</div>

<div class = "refInfoB">
  <strong>Link:</strong>
  <%= @bookmark.link %>
</div>

<div class = "refInfoC">
  <strong>Note:</strong>
  <%= @bookmark.note %>
</div>

<div class = 'button'>
<%= link_to 'Back', bookmarks_path %>
</div>
<div class = 'button'>
<%= link_to 'Edit', edit_bookmark_path(@bookmark) %>
</div>
